.container{
    background-color: #008ECC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 930px;
}
.log{
    background-color: whitesmoke;
    height: 600px;
    width: 500px;
    border-radius: 10px 10px 10px 10px;
  
}
.heading{
    margin-top: 80px;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
  label{
    margin-left:30px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  input{
    margin-left: 30px;
    width: 450px;
    height: 55px;
    border: grey;
  }
  .check{
    position: absolute;
    left: 470px;
    transform: scale(0.4);
  }
  .check label{
    font-size: 40px;
    color: rgb(48, 47, 47);
    position: absolute;
    font-family: serif;
    left: 280px;
    width: 500px;
}
.btn input{
    margin-top: 80px;
    color: white;
    background-color: #008ECC;
    font-size: large;
}   
.for{
    text-align: center;
    margin-top: 30px;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
    color: #008ECC;
}
